{% if not "data_dir" in consul_settings %}
  {% set x=consul_settings.__setitem__ ('data_dir', consul_directories_data_dir) %}
{% endif %}

{% if not "node_name" in consul_settings %}
  {% set x=consul_settings.__setitem__('node_name', ansible_fqdn) %}
{% endif %}

{% for setting, value in consul_settings.iteritems(): %}
  {% if setting in consul_settings_ints %}
    {% set x=consul_settings.__setitem__(setting, value | int ) %}
  {% endif %}
{% endfor %}

{{ consul_settings | to_nice_json }}
